@import "../../less/variables.less";     // только для удобства обращения к переменным
@import "../../less/mixins/mixins.less"; // только для удобства обращения к примесям


.main-promo {
  	background: repeating-linear-gradient(-45deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 10px) fixed,	
				url(../img/header_bg.jpg) fixed 50% 50% no-repeat;
	background-size: cover;
	height: 100vh;
	width: 100%;
	text-transform: uppercase;
	font-family: @raleway;
	color: @white;
	display: table;

	&__wrapper{
		display: table-cell;
		vertical-align: middle;
		text-align: center;
		position: relative;
	}
	&__title{
		display: inline-block;
		font-size: @font-p-title;
		font-weight: @font-weight-bold;
		border: 2px solid @white;
		letter-spacing: 5px;
		padding: 10px 15px;
		margin: 0 20px 10px;

		@media (min-width: @screen-sm) {
			font-size: @font-main-subtitle;
			padding: 15px 20px;			
			letter-spacing: 10px;		
			margin: 0 0 20px;
		}
		@media (min-width: @screen-lg) {
			font-size: @font-main-title;
			padding: 20px 25px;			
			letter-spacing: 15px;
		}				
	}
	&__description{
		font-size: @font-article;
		font-weight: @font-weight-light;
		letter-spacing: 5px;
		margin: 10px 20px 0;

		@media (min-width: @screen-sm) {
			font-size: @font-p-title;
			letter-spacing: 10px;			
			margin: 0;			
		}				
		@media (min-width: @screen-lg) {
			font-size: @font-main-subtitle;	
		}			
	}
}	
