@import "../../less/variables.less";     // только для удобства обращения к переменным
@import "../../less/mixins/mixins.less"; // только для удобства обращения к примесям


.about-us {
  &__wrapper{
  	padding: 30px;

    @media (min-width: @screen-lg) {
      padding: 30px 40px 30px 80px;
    }    
  }
  &__title{
  	text-transform: uppercase;
  	font-family: @roboto;
	  font-size: @font-title;
	  font-weight: @font-weight-light;
	  letter-spacing: 5px;  	
    @media (min-width: @screen-sm) {
      letter-spacing: 10px;
    }     
  }
  &__text{
  	margin-top: 30px;
  	font-family: @raleway;
	  font-size: @font-p;
    
    @media (min-width: @screen-sm) {
      font-size: @font-article;  
    }     
  }

  &__pic{
  	background-image: url(../img/part_3_bg.jpg);
    background-position: center;    
  	background-size: cover;
  	height: auto;
  }
}
